:root {
  --header-pixel-height: 60px;
  --sidebar-pixel-width: 150px;
  --border-size: 4px;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  color: #abb1b4;
  background-color: #1f2227;
}

blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}

/*- HEADER, MAIN (layout-container), SIDEBAR, CONTENT -*/

header {
  height: var(--header-pixel-height);
  background: #1a1d21;
  z-index: 100;
  width: 100vw;
  padding-left: 10px;
  line-height: var(--header-pixel-height); /* vertical align single line of text */
}

#layout-container {
  max-width: max-content;
  position: relative;
  display: grid;
  grid-template-columns: var(--sidebar-pixel-width) 1fr;
  grid-template-areas: "sidebar content";
}

#sidebar {
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  position: relative;
  height: 100vh;
  padding: 10px;
  margin: 0;
  background: #304040;
  color: #cfd0d1;
}

#content {
  grid-area: content;
  position: relative;
}

/*- COLUMNS and ROWS -*/

div.columns {
  width: 100vw;
  height: calc(100vh - var(--header-pixel-height));
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
div.column1 {
  float: left;
  width: calc(50vw - (var(--sidebar-pixel-width) / 2) - (var(--border-size) / 2));
  height: calc(100vh - var(--header-pixel-height));
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
div.column2 {
  float: left;
  left: calc(50vw + var(--border-size));
  width: calc(50vw - (var(--sidebar-pixel-width) / 2) - (var(--border-size) / 2));
  height: calc(100vh - var(--header-pixel-height));
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
div.verticalBar {
  float: left;
  left: 50vw;
  width: var(--border-size);
  height: calc(100vh - var(--header-pixel-height));
  background-color: grey;
  cursor: ew-resize;
}
div.verticalBar:hover {
  background-color: orangered;
}
div.verticalBar:active {
  background-color: red;
}
div.horizontalBar {
  top: 50vh;
  height: var(--border-size);
  background-color: grey;
  cursor: ns-resize;
}
div.horizontalBar:hover {
  background-color: orangered;
}
div.horizontalBar:active {
  background-color: red;
}
div.card {
  color: black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 5px;
}
div.card25-4 {
  height: calc(25vh - (var(--header-pixel-height)/4) - (var(--border-size) / 2));
}
div.card25-2 {
  height: calc(25vh - (var(--header-pixel-height)/2) - (var(--border-size) / 2));
}
div.card50-2 {
  height: calc(50vh - (var(--header-pixel-height)/2) - (var(--border-size) / 2));
}
div.card75-2 {
  height: calc(75vh - (var(--header-pixel-height)/2) - (var(--border-size) / 2));
}

div.card11 {
  background-color: lightgreen;
}
div.card12 {
  background-color: lightsalmon;
}
div.card13 {
  background-color: lightyellow;
}
div.card14 {
  background-color: lightseagreen;
}
div.card21 {
  background-color: lightblue;
}
div.card22 {
  background-color: lightcoral
}
