:root {
  --default-background: #1E1E1E; /* same as monaco vs-dark scheme */
  --default-color: #D1D1D1; /* same as monaco vs-dark scheme */
  --scrollbar-color: #424242; /* same as monaco vs-dark scheme */
  --header-background: #2A3038;
  --header-color: #B5CEA8;
  --resizer-color: lightsteelblue;
  --header-pixel-height: 60px;
  --border-size: 4px;
  --scrollbar-width: 10px;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: "Segoe UI","Fira Sans","Droid Sans","Helvetica",Arial,sans-serif;
  font-size: 14px;
  color: var(--default-color);
  background-color: var(--default-background);
}

blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}

/*- HEADER, MAIN -*/

header {
  height: var(--header-pixel-height);
  z-index: 100;
  width: 100vw;
  padding-left: 10px;
  padding-left: 10px;
  line-height: var(--header-pixel-height); /* vertical align single line of text */
  background: var(--header-background);
  color: var(--header-color);
  border-bottom-style: solid;
  border-bottom-color: var(--resizer-color);
  border-bottom-width: var(--border-size);
}

/*- RESIZABLE COLUMNS and ROWS -*/

main {
  width: 100vw;
  height: calc(100vh - var(--header-pixel-height));
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
div.column1 {
  float: left;
  width: calc(50vw - (var(--border-size) / 2));
  height: calc(100vh - var(--header-pixel-height));
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
div.column2 {
  float: left;
  left: calc(50vw + var(--border-size));
  width: calc(50vw - (var(--border-size) / 2));
  height: calc(100vh - var(--header-pixel-height));
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
div.verticalBar {
  float: left;
  left: 50vw;
  width: var(--border-size);
  height: calc(100vh - var(--header-pixel-height));
  background-color: var(--resizer-color);
  cursor: ew-resize;
}
div.verticalBar:hover {
  background-color: firebrick;
}
div.verticalBar:active {
  background-color: orangered;
}
div.horizontalBar {
  height: var(--border-size);
  background-color: var(--resizer-color);
  cursor: ns-resize;
}
div.horizontalBar:hover {
  background-color: firebrick;
}
div.horizontalBar:active {
  background-color: orangered;
}

/*- CELLS IN DIFFERENT SIZE -*/

div.card25-4 {
  height: calc(25vh - (var(--header-pixel-height) / 4) - (var(--border-size) / 2));
}
div.card25-2 {
  height: calc(25vh - (var(--header-pixel-height) / 2) - (var(--border-size) / 2));
}
div.card75-2 {
  height: calc(75vh - (var(--header-pixel-height) / 2) - (var(--border-size) / 2));
}

/*- CONTENT WITHIN CELLS -*/

.code-editor {
  width:  calc(100% - var(--scrollbar-width));
  height: calc(100% - var(--scrollbar-width));
}

.preview {
  width:  calc(50% - (var(--border-size) / 2)) - var(--scrollbar-width);
  height: calc(100% - var(--scrollbar-width));
  font-size: 125%; /* larger to see scrollbar with less text */
  color: var(--default-color);
  padding: 5px;
  overflow-x: auto;
  overflow-y: scroll;
  scrollbar-width: var(--scrollbar-width);
  scrollbar-color: var(----scrollbar-color)  var(--default-background);
}